{% extends 'authentication/base_authentication.html' %} 
{% load i18n %}

{% block authenticationForm %}
                        {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                        {% else %}
                        <form method="post" id="contact_form" class="contact_form">
                            {{ form.none_field.errors }}
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-6"> 
                                    <label for="{{ form.password1.id_for_label }}">Ваш новий пароль</label>
                                    {{ form.password1 }}
                                </div>
                                <div class="col-xl-6"> 
                                    <label for="{{ form.password2.id_for_label }}">Повторіть ваш новий пароль</label>
                                    {{ form.password2 }}
                                </div>
                            </div>
                            <button type="submit" class="button contact_button"><span>{% trans 'change password' %}</span></button>
                        </form>
                    {% endif %}
{% endblock authenticationForm %}