a.disabled {
    pointer-events: none;
    cursor: default;
    color: #888;
}

.black-color{
    color : black;
}

.reviews-text{
    font-weight: bold;
    font-size: 18px;
}
.reviews-cart{
    margin-top: 1%;
    margin-bottom: 1%;
}
html {
    scroll-behavior: smooth;
  }