<!-- Icon Boxes -->
{% load static %}

<div class="icon_boxes">
    <div class="container">
        <div class="row icon_box_row">
            
            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box">
                    <div class="icon_box_image"><img src="{% static 'images/icon_1.svg'%}" alt=""></div>
                    <div class="icon_box_title">Безкоштовна доставка по всій Україні.</div>
                    <div class="icon_box_text">
                        <p>Замовляйте товари з любої області, та не хвилюйтесь про доставку.</p>
                    </div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box">
                    <div class="icon_box_image"><img src="{% static 'images/icon_2.svg'%}" alt=""></div>
                    <div class="icon_box_title">Безкоштовне повернення</div>
                    <div class="icon_box_text">
                        <p>Ви можете повернути товар протягом 14 днів з моменту його покупки.</p>
                    </div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box">
                    <div class="icon_box_image"><img src="{% static 'images/icon_3.svg'%}" alt=""></div>
                    <div class="icon_box_title">Цілодобова швидка підтримка</div>
                    <div class="icon_box_text">
                        <p>Якщо у вас виникли питання або пропозиції щодо нашого сайту, то ви сожете звернутися до нас у розділі "Контакт."</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>