<!-- Newsletter -->
{% if not unactivenewsletter %}
<div class="newsletter" id="newsletter_block">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="newsletter_border"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="newsletter_content text-center">
                    <div class="newsletter_title">Підпишіться на нашу розсилку</div>
                    <div class="newsletter_text"><p>Будьте в курсі оновлень в нашому магазині.</p></div>
                    <div class="newsletter_form_container">
                        <form id="newsletter_form" class="newsletter_form" action="{% url 'shop:add_to_mailing_list' %}">
                            {% csrf_token %}
                            <input type="email" class="newsletter_input" required="required" id="newsletter_input" 
                            {% if user.is_authenticated %}value="{{ user.email }}"{% endif %}>
                            <button class="newsletter_button trans_200" id="newsletter_button"><span>Підписатися</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
