{% extends 'base.html' %} 
{% load static %}
{% block loadCSS %} 

<link rel="stylesheet" type="text/css" href="{% static 'styles/categories.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/categories_responsive.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/product.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/product_responsive.css'%}">

{% endblock loadCSS %}

{% block content %}

<div class="home">
    {% if serchPage %}
    <div class="alert alert-{{ messageType }}" role="alert">
        {{ messageText }}
    </div>
    {% else %}
        {% include '_inc/_alerts.html' %}
    {% endif %}
    <div class="home_container">
        {% if not serchPage %}
        <div class="home_background" style="background-image:url({{ currentCategory.image.url }})"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="home_title">{{ currentCategory.name }}<span>.</span></div>
                            <div class="home_text"><p>{{ currentCategory.description }}</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="home_background" style="background-image:url({% static 'images/categories.jpg'%})"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="home_title">{{ serchText }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% block productContent %}

{% endblock productContent %}

{% endblock content %}