{% extends 'base.html' %}
{% load static %}

{% load humanize %} 

{% block loadCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
{% endblock loadCSS %}

{% block content %}

<!-- Home -->

<div class="home">
    <div class="home_slider_container">
        
        {% include '_inc/_alerts.html' %}

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">
            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background" style="background-image:url({% static 'images/home_slider_1.jpg'%})"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_slider_content"  data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                    <div class="home_slider_title">Інтернет-магазин електроніки та аксесуарів.</div>
                                    <div class="home_slider_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</div>
                                    <div class="button button_light home_button"><a href="{{ categories.first.get_absolute_url }}">Розпочати покупки</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background" style="background-image:url({% static 'images/home_slider_1.jpg'%})"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_slider_content"  data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                    <div class="home_slider_title">A new Online Shop experience.</div>
                                    <div class="home_slider_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</div>
                                    <div class="button button_light home_button"><a href="#">Shop Now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background" style="background-image:url({% static 'images/home_slider_1.jpg'%})"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_slider_content"  data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                    <div class="home_slider_title">A new Online Shop experience.</div>
                                    <div class="home_slider_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</div>
                                    <div class="button button_light home_button"><a href="#">Shop Now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Home Slider Dots -->
        
        <div class="home_slider_dots_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_slider_dots">
                            <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                                <li class="home_slider_custom_dot active">01.</li>
                                <li class="home_slider_custom_dot">02.</li>
                                <li class="home_slider_custom_dot">03.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>	
        </div>

    </div>
</div>

<div class="avds">
    <div class="avds_container d-flex flex-lg-row flex-column align-items-start justify-content-between">
        <div class="avds_small">
            <div class="avds_background" style="background-image:url({% static 'images/avds_small.jpg'%})"></div>
            <div class="avds_small_inner">
                <div class="avds_discount_container">
                    <img src="{% static 'images/discount.png'%}" alt="">
                    <div>
                        <div class="avds_discount">
                            <div>20<span>%</span></div>
                            <div>Discount</div>
                        </div>
                    </div>
                </div>
                <div class="avds_small_content">
                    <div class="avds_title">Смартфони</div>
                    <div class="avds_link"><a href="categories.html">See More</a></div>
                </div>
            </div>
        </div>
        <div class="avds_large">
            <div class="avds_background" style="background-image:url({% static 'images/avds_large.jpg'%})"></div>
            <div class="avds_large_container">
                <div class="avds_large_content">
                    <div class="avds_title">Потужні комп'ютери</div>
                    <div class="avds_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed viver ra velit venenatis fermentum luctus.</div>
                    <div class="avds_link avds_link_large"><a href="categories.html">See More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Products -->

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col">
                
                <div class="product_grid">

                    <!-- Product -->
    
                    {% for product in products %}
                    <div class="product">
                        <div class="product_image"><img src="{{ product.photos.first.image.url }}" alt=""></div>
                        {% if product.discount %}
                        <div class="product_extra product_sale"><a href="categories.html">Sale</a></div>
                        {% endif %}
                        <div class="product_content">
                            <div class="product_title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></div>
                            <div class="product_price">{{ product.price.currency }} {{ product.price.amount|intcomma  }}</div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                    
            </div>
        </div>
    </div>
</div>

<!-- Ad -->

<div class="avds_xl">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="avds_xl_container clearfix">
                    <div class="avds_xl_background" style="background-image:url({% static 'images/avds_xl.jpg'%})"></div>
                    <div class="avds_xl_content">
                        <div class="avds_title">Багато інщих пристроїв</div>
                        <div class="avds_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus.</div>
                        <div class="avds_link avds_xl_link"><a href="categories.html">See More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'shop/inc/iconBoxes.html' %} 
{% include '_inc/_newsletter.html' %}
{% endblock content %}

{% block loadJS %}
    <script src="{% static 'js/custom.js'%}"></script>
{% endblock loadJS %}