{% extends 'base.html' %}
{% load static %} 

{% block loadCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/contact.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/contact_responsive.css'%}">
{% endblock loadCSS %}

{% block content %}
  
<div class="contact">
    <div class="container">
        <div class="row">
            <!-- Get in touch -->
            <div class="col-lg-8 contact_col">
                <div class="get_in_touch">
                    <div class="contact_form_container">
                        {% include '_inc/_alerts.html' %}
                        {% block authenticationForm %}
                        
                        {% endblock authenticationForm %}
                    </div>
                </div>
            </div>

            <!-- Contact Info -->
            <div class="col-lg-3 offset-xl-1 contact_col">
                <div class="contact_info">
                    <br/>
                    <div class="contact_info_section">
                        <div class="contact_info_title">Доставка та повернення</div>
                        <ul>
                            <li>Номер телефону: <span>+38 123 456 78 90</span></li>
                            <li>Пошта: <span>yourmail@gmail.com</span></li>
                        </ul>
                    </div>
                    <div class="contact_info_section">
                        <div class="contact_info_title">Інформація</div>
                        <ul>
                            <li>Номер телефону: <span>+38 123 456 78 90</span></li>
                            <li>Пошта: <span>yourmail@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block loadJS %}
<script src="{% static 'js/contact.js'%}"></script>
{% endblock loadJS %}