{% extends 'shop/base_product.html' %}
{% load static %}
{% load humanize %}


{% block productContent %}
<div class="products">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
                    <div class="results">Showing <span>{{ products.count }}</span> results</div>
                    <div class="sorting_container ml-md-auto">
                        <div class="sorting">
                            <ul class="item_sorting">
                                <li>
                                    <span class="sorting_text">Sort by</span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <ul>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'><span>Name</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                
                <div class="product_grid">
                    {% for product in products %}
                    <div class="product">
                        <div class="product_image"><img src="{{ product.photos.first.image.url }}" alt=""></div>
                        {% if product.discount %}
                            <div class="product_extra product_sale"><a href="#">Sale</a></div>
                        {% endif %}
                        <div class="product_content">
                            <div class="product_title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></div>
                            <div class="product_price"> {{ product.price.amount|intcomma  }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if page_obj.paginator.num_pages > 1 %}
                <nav aria-label="...">
                    <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li class="page-item ">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                      </li>
                      <li class="page-item ">
                        <a class="page-link" href="?page=1">1</a>
                      </li>
                      {% if page_obj.previous_page_number != 1 %}
                      <li class="page-item ">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                      </li>
                      {% endif %}
                    {% else %}
                      <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                      </li>
                    {% endif %}
                    
                      <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ page_obj.number }}</span>
                      </li>

                      {% if page_obj.has_next %}
                        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                          </li>
                        {% endif %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                        <span class="page-link">Next</span>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
                 {% endif %}
            </div>
        </div>
    </div>
</div>

{% include 'shop/inc/iconBoxes.html' %}
{% include '_inc/_newsletter.html' %}

{% endblock productContent %}

