{% extends 'shop/base_product.html' %}
{% load static %}
{% load humanize %}
{% load persent %}

{% block loadCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/product.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/product_responsive.css'%}">
{% endblock loadCSS %}

{% block productContent %}
	<!-- Product Details -->

	<div class="product_details">
		<div class="container">
			<div class="row details_row">

				<!-- Product Image -->
				<div class="col-lg-6">
					<div class="details_image">
						<div class="details_image_large">
                            <img src="{{ product.photos.first.image.url }}" alt="">
                            {% if product.discount %}
                            <div class="product_extra product_sale">
                                <a href="#">Sale</a>
                            </div>
                            {% endif %}
                        </div>
						<div class="details_image_thumbnails d-flex flex-row align-items-start justify-content-between">

                            {% if product.photos.all.count == 1 %}
                                <div class="details_image_thumbnail" data-image="{{ product.photos.first.image.url }}"><img src="{{ product.photos.first.image.url }}" alt=""></div>
                            {% else %}
                                {% for image in product.photos.all %}
                                    <div class="details_image_thumbnail {% if forloop.counter == 1 %} active {% endif %}" 
                                    data-image="{{ image.image.url }}">
                                    <img src="{{ image.image.url }}" alt="">
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
					</div>
				</div>

				<!-- Product Content -->
				<div class="col-lg-6">
					<div class="details_content">
						<div class="details_name">{{ product.name }}</div>
                            {% if product.discount %}
						        <div class="details_discount">{{ product.price.currency }} {{ product.price.amount|intcomma  }}</div>
						        <div class="details_price">{{ product.price.currency }} {{ product|getDiscountPrice }}</div>
                            {% else %}
                                <div class="details_price">{{ product.price.currency }} {{ product.price.amount|intcomma  }}</div>
                            {% endif %}
						<!-- In Stock -->
						<div class="in_stock_container">
							<div class="availability">Наявність:</div>
							{% if product.in_stock %}
								<span>Є на складі</span>
							{% else %}
								<span style="color:red;">Немає</span>
							{% endif %}
						</div>
						<div class="details_text">
							<p>{{ product.description|truncatechars:360 }}</p> 
						</div>

						<!-- Product Quantity -->
						<form method='post'>
						{{ form.none_field.errors }}
    					{% csrf_token %}
						<div class="product_quantity_container">
							<div class="product_quantity clearfix">
								<label for="{{ form.qty.id_for_label }}"><span>Qty</span></label>
								{{ form.qty }}
								<div class="quantity_buttons">
									<div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
									<div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
								</div>
							</div>
							
							<button type="submit" style="margin-left : 5%" class="btn btn-outline-dark btn-lg"{% if not product.in_stock %} disabled{% endif %}>Add to Cart</button>
						</div>
					</form>
						<!-- Share -->
						<div class="details_share">
							<span>Share:</span>
							<ul>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row description_row">
				<div class="col">
					<div class="description_title_container">
						<div class="description_title">Опис</div>
						<div class="reviews_title"><a href="{{ product.get_absolute_review_url }}">Коментарів<span> {{ countOfReviews }}</span></a></div>
						<div class="reviews_title">Переглядів: <span>{{ product.getTotalViews }}</span></div>
					</div>
					<div class="description_text">
						{% autoescape off %}
						<p>{{ product.description }}</p>
						{% endautoescape %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Products -->

	<div class="products">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="products_title">Схожі товари</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					
					<div class="product_grid">

						{% for relatedProduct in relatedProducts %}
                            <div class="product">
                                <div class="product_image"><img src="{{ relatedProduct.photos.first.image.url }}" alt=""></div>
                                {% if relatedProduct.discount %}
                                    <div class="product_extra product_sale"><a href="categories.html">Sale</a></div>
                                {% endif %}
                                <div class="product_content">
                                    <div class="product_title"><a href="{{ relatedProduct.get_absolute_url }}">{{ relatedProduct.name }}</a></div>
                                    <div class="product_price">{{ relatedProduct.price.currency }} {{ relatedProduct.price.amount|intcomma  }}</div>
                                </div>
                            </div>
                        {% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>

    {% include '_inc/_newsletter.html' %}
{% endblock productContent %}

{% block loadJS %}
<script src="{% static 'js/product.js'%}"></script>
{% endblock loadJS %}